{% extends 'main_app/base.html' %}
{% block content %}

    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li><a href="{% url 'Login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a href="{% url 'Register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj {{ user.get_short_name }}
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="{% url 'Logout' %}">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}

            <ul>
                <li><a href="/" class="btn btn--without-border active">Start</a></li>
                <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a href="{% url 'AddDonation' %}" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>

        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    </header>

{% endblock %}